{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <h1>Bài viết mới</h1>
    <div>
        {% for post in posts %}
        <div>
            <a href="{{ path('showpost', {id: post.id}) }}"><h5 style="display: inline">{{ post.title }}</h5></a>
            - {{ post.postedAt | date('d/m/Y') }}
            <p style="display: none">{{ post.tag }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}