{% extends "base.html.twig" %}
{% block title %}Trang chủ{% endblock %}
{% block body %}
    <div class="container ">
        <h1 class="title is-1">Bạn yêu Linux? Chúng tôi cũng vậy!</h1>
        <h5 class="subtitle is-5"></h5>
        <button class="button is-primary">Tìm hiểu ngay</button>
        <button class="button is-primary">Gia nhập nhóm</button>
    </div>
{% endblock %}