{% extends "base.html.twig" %}
{% block title %}Sign in{% endblock %}
{% block body %}
<div class="container">
    <form action="{{ path('register') }}" method="post">
        <h4>Chúng tôi rất vui vì bạn muốn tham gia cộng đồng Linuxlover. Chỉ cần cho chúng tôi biết <b>tên đăng nhập</b> và <b>mật khẩu</b> mà bạn muốn sử dụng, bạn sẽ trở thành 1 thành viên của Linuxlover</h4>
        <i>(nhập username ở dòng thứ 1, password ở dòng thứ 2 và 3)</i>
        <p>{{ message }}</p>
        <input type="text" name="username" required autocomplete="off">
        <input type="password" name="password" required autocomplete="off">
        <input type="password" name="re_password" required autocomplete="off">
        <input type="submit" value="Đăng ký" class="btn blue-grey darken-4">
        <a href="{{ path('login') }}" class="btn blue-grey-text text-darken-4 white">Đã có tài khoản? Đăng nhập</a>
    </form>
</div>
{% endblock %}