{% extends "base.html.twig" %}

{% block body %}
<div class="container section">
    <form method="post" enctype="multipart/form-data">
        Select picture
        <input type="file" name="picture">
        <br>
        Save as
        <input type="text" name="name">
        <br>
        <input type="submit" value="Upload" class="btn brown">
    </form>
</div>
{% endblock %}