{% if app.user %}
    <form action="{{ action }}" method="post">
        <input type="text" name="content" autocomplete="off" required class="comment-field" maxlength="65535">
        <input type="submit" value=">" class="comment-button">
    </form>
{% endif %}