{{ include('comments/form.html.twig', {'action': path('comment', {'id': post.id})}) }}
{% if not app.user %}
    <form onclick="window.location.replace('{{ path('login') }}')">
        <input type="text" name="content" autocomplete="off" required class="comment-field" value="Đăng nhập để bình luận" style="cursor: pointer; color: grey">
        <div class="comment-button" style="text-align: center; line-height: 30px; cursor: pointer">&gt;</div>
    </form>
{% endif %}
{% for comment in comments %}
    {% if not comment.isReply %}
        {{ include('comments/comment.html.twig', {'comment': comment, 'id': post.id, 'comments': comments}) }}
    {% endif %}
{% endfor %}